%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{eunit_opts, [verbose]}.

{clean_files, ["*~","*/*~","*/*.xfm","test/*.beam"]}.

{deps, [
        %{hackney, ".*",
        % {git, "https://github.com/benoitc/hackney.git", "MASTER"}},

        {dispcount, "1.0.0",
         {git, "https://github.com/ferd/dispcount.git", "1.0.0"}}
]}.
